body {
  margin: 0px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

footer {
  background-color: #fcf8f3;
  padding: 1vw 0;
  margin-top: 7vw;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  color: #fe91ca;
  font-weight: 700 !important;
  font-size: 2rem;
  margin-top: 5% !important;
}

.navbar {
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.navbar-brand {
  width: 7%;
}

.navbar-hide {
  pointer-events: none;
  opacity: 0;
}

.navbar-nav {
  width: 52px;
  background-color: #fcf8f3;
}

.navbar-toggler {
  background-color: #fe91ca !important;
}

.topContainer {
  background-color: #fcf8f3;
  height: auto;
}

.fadeText {
  color: #fe91ca;
  width: 30%;
  position: absolute;
  top: 17%;
  left: 35%;
  transition: .5s;
}

@media (min-width: 992px) {
  .navbar-nav {
    background: transparent !important;
  }

  .fadeText {
    top: 40%;
    transition: .5s;
  }

  .skill-row {
    width: 700px !important;
  }

  .passion-row {
    width: 700px !important;
  }

  .carousel {
    width: 80px !important;
  }

  #intro-text {
    font-size: 18px !important;
  }

  #advancedIntro {
    font-size: 2.5rem !important;
  }

  #skills-title {
    font-size: 2rem !important;
  }

  #skills-text {
    font-size: 18px !important;
  }

  #ideas-title {
    font-size: 2rem !important;
  }

  #ideas-text {
    font-size: 18px !important;
  }

  #carousel-image {
    width: 80px;
  }

  #passion-title {
    font-size: 2rem !important;
  }

  #passion-text {
    font-size: 18px !important;
    width: 620px !important;
  }

  #talk-text {
    font-size: 18px !important;
    width: 600px !important;
  }

  #project-text {
    font-size: 18px !important;
    width: 630px !important;
  }

  #browser-demo {
    font-size: 2.5rem !important;
  }

  iframe {
    width: 750px !important;
    height: 500px !important;
  }

}


.introduction {
  text-align: center;
  margin-top: 10%;
  margin-bottom: 10%;
}

.skills {
  text-align: center;
}

.skill-row {
  width: 55%;
  margin: 7% auto;
  text-align: left;
  line-height: 2;
}

.carousel {
  width: 12%;
}

.passion-row {
  margin: 10% auto;
}

.heartbeat {
  -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
  animation: heartbeat 1.5s ease-in-out infinite both;
}

/**********Button style css**********/
.email_button {
  color: #fff !important;
  width: 200px;
  height: 45px;
  font-family: 'Montserrat', cursive;
  font-size: 23px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none !important;
  background: #f76a8c;
  padding: 5px;
  border-radius: 5px;
  display: inline-block;
  border: none;
  transition: all .4s ease 0s;
}

.email_button:hover {
  background: #790c5a;
  font-family: 'Montserrat', cursive;
  letter-spacing: 1px;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  box-shadow: 5px 40px -10px rgba(0, 0, 0, 0.57);
  transition: all .4s ease 0s;
  text-decoration: none !important;
}

.footer-links {
  text-align: center;
  margin: 2vw auto 3vw auto;
}

.footer-link {
  margin: 0 3%;
  color: #fe91ca;
  transition: .5s;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

.footer-statement {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 10px;
  line-height: 1;
}

.project-demo {
  width: 50%;
  margin: 3% auto;
}

/* ----------------------------------------------
 * Generated by Animista on 2020-7-16 18:46:9
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation heartbeat
 * ----------------------------------------
 */
@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}


iframe {
  width: 84vw;
  height: 56vw;
}

#nav-link {
  color: #fe91ca;
  transition: .5s;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  margin-right: 20px;
}

a#nav-link:hover {
  color: #790c5a;
  text-decoration: none;
}

.nav-item a.active {
  text-decoration: underline;
}

#profile-photo {
  border-radius: 50%;
  width: 100%;
}

#sakura-right {
  width: 40%;
  float: right;
}

#sakura-left {
  width: 30%;
  margin-top: 15%;
}

#greeting {
  font-family: 'Merienda One', cursive;
  font-size: 4vw;
  text-align: center;
}

#greeting-2 {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size: 2vw;
}

#sakura-petals {
  width: 100%;
}

#self-intro {
  border-radius: 100%;
  width: 200px;
}

#intro-text {
  margin: 2rem auto;
  font-size: 1.5vw;
  font-family: 'Montserrat', sans-serif;
  width: 425px;
  text-align: center;
  line-height: 2;
}

#breaker {
  border-top: 6px dotted rgba(0, 0, 0, .1);
  width: 4%;
  margin: 8% auto;
}

#advancedIntro {
  font-family: 'Merienda One', cursive;
  font-weight: 700;
  color: #fe91ca;
  text-align: center;
  font-size: 3.2vw;
}

#skills-title {
  font-family: 'Montserrat', sans-serif;
  color: #fe91ca;
  font-weight: 700;
  font-size: 2.5vw;
  padding-left: 25%;
}

#skills-text {
  margin: 2rem auto;
  font-size: 1.5vw;
  font-family: 'Montserrat', sans-serif;
  padding-left: 25%;
  text-align: justify;
}

#ideas-title {
  font-family: 'Montserrat', sans-serif;
  color: #fe91ca;
  font-weight: 700;
  font-size: 2.5vw;
}

#ideas-text {
  margin: 2rem auto;
  font-size: 1.5vw;
  font-family: 'Montserrat', sans-serif;
  text-align: justify;
  padding-right: 25%;
}

#myCarousel-1 {
  float: left;
}

#myCarousel-2 {
  float: right;
}

#carousel-image {
  width: 100%;
}

#passion-title {
  font-family: 'Montserrat', sans-serif;
  color: #fe91ca;
  font-weight: 700;
  font-size: 2.5vw;
  text-align: center;
}

#passion-text {
  margin: 2rem auto;
  width: 85%;
  font-size: 1.5vw;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  line-height: 2;
}

#talk-text {
  margin: 2rem auto;
  width: 85%;
  font-size: 1.5vw;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  line-height: 2;
}

#links {
  text-decoration: none;
  transition: .5s;
  color: #fe91ca;
}

a#links:hover {
  color: #790c5a;
  text-decoration: none;
}

#project-text {
  margin: 2rem auto;
  font-size: 1.5vw;
  font-family: 'Montserrat', sans-serif;
  width: 85%;
  text-align: center;
  line-height: 2;
}

#browser-demo {
  font-family: 'Merienda One', cursive;
  font-weight: 700;
  color: #fe91ca;
  text-align: center;
  margin-bottom: 5%;
  font-size: 3.2vw;
}
